<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-your-start:" data-toc-modified-id="Before-your-start:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before your start:</a></span></li><li><span><a href="#Challenge-1---Exploring-the-Data" data-toc-modified-id="Challenge-1---Exploring-the-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1 - Exploring the Data</a></span></li><li><span><a href="#Challenge-2---Hypothesis-Tests" data-toc-modified-id="Challenge-2---Hypothesis-Tests-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2 - Hypothesis Tests</a></span></li><li><span><a href="#Challenge-3---Constructing-Confidence-Intervals" data-toc-modified-id="Challenge-3---Constructing-Confidence-Intervals-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Challenge 3 - Constructing Confidence Intervals</a></span></li><li><span><a href="#Challenge-4---Hypothesis-Tests-of-Proportions" data-toc-modified-id="Challenge-4---Hypothesis-Tests-of-Proportions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Challenge 4 - Hypothesis Tests of Proportions</a></span></li></ul></div>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('..\Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

percent_missing = (salaries.isnull().sum() * 100 / len(salaries)).sort_values(ascending = False)
percent_missing

Hourly Rate          75.824971
Typical Hours        75.824971
Annual Salary        24.175029
Salary or Hourly      0.000000
Full or Part-Time     0.000000
Department            0.000000
Job Titles            0.000000
Name                  0.000000
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

salaries.groupby('Department')['Name'].count().sort_values(ascending = False)

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
hourly = salaries.loc[salaries['Salary or Hourly']=='Hourly']

alpha = 0.05
r = stats.ttest_1samp(hourly['Hourly Rate'], 30)
print(r)
print(r.pvalue < alpha) 

if (r.pvalue < alpha):
    print("We reject H0, the hourly wage is significantly different from $30/hr")
else: 
    print('We accept H0')


#if pvalue is less than 0.05 (if get True),

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)
True
We reject H0, the hourly wage is significantly different from $30/hr

In [8]:
salaries.loc[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].mean()

32.78855771628128

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [19]:
# Your code here:

#This is a one-sided test so we will only look at the test statistic. 
# In order to use the p-value we have to divide the p-value by 2.

alpha = 0.05

salary = salaries.loc[salaries['Salary or Hourly']=='Salary']

r = stats.ttest_1samp(salary['Annual Salary'], 86000)
print(r)
print((r.pvalue)/2 < alpha) 

if ((r.pvalue)/2 < alpha):
    print("We reject H0, mean is higher than last year's mean of $86000/year")
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)
True
We reject H0, mean is higher than last year's mean of $86000/year

In [10]:
#checking the mean
salary['Annual Salary'].mean()

86786.99979015153

Using the `crosstab` function, find the department that has the most hourly workers.

In [11]:
# Your code here:
salary_crosstab = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'], margins = False, )

salary_crosstab.sort_values('Hourly', ascending=False) #sorting by hourly

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [20]:
# Your code here:

#This is a one-sided test so we will only look at the test statistic. 
# In order to use the p-value we have to divide the p-value by 2.

alpha = 0.05

hourly_w = salaries.loc[(salaries['Salary or Hourly']=='Hourly')&(salaries['Department']=='STREETS & SAN')]

r = stats.ttest_1samp(hourly_w['Hourly Rate'], 35)
print(r)

if ((r.pvalue/2) < alpha) & (r.statistic < 0):
    print('We reject H0, mean is higher than $35/hr')
else: 
    print('We accept H0')

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)
We reject H0, mean is higher than $35/hr

In [13]:
#if p value is lower than 0.0025 (if get True) and if statustic is lower than 0 (if get True)
#reject assumption that their hourly wage is less than $35/hour

#rejecting the H0, the hourly rate is not lower than 35/hour

In [14]:
hourly_w['Typical Hours'].mean()

37.1374865735768

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [15]:
# Your code here:

#a 95% confidence interval for the mean hourly wage of all hourly workers.

from scipy.stats import norm
import math
import scipy.stats


hourly = salaries.loc[salaries['Salary or Hourly']=='Hourly']

n = len(hourly)-1
con_coef=0.95

#the alpha level
alpha = 1 - con_coef

x_bar = hourly['Hourly Rate'].mean() #the mean of sample
sigma = hourly['Hourly Rate'].std()

# for 95%: 0.95+((1-0.95)/2) = 0.975
z_critical = stats.norm.ppf(q = 0.975)

zinterval = stats.norm.interval(alpha=con_coef)

st_error = sigma / math.sqrt(n)

CI_lower = x_bar - z_critical * st_error
CI_upper = x_bar + z_critical * st_error

CI_lower, CI_upper

(32.52348182581586, 33.05363360674671)

In [16]:
#or could do it like this:

con_coef=0.95
n = len(hourly)-1
ave = hourly['Hourly Rate'].mean()
sigma = stats.sem(hourly['Hourly Rate'])

scipy.stats.t.interval(con_coef , n, loc=ave, scale=sigma)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [17]:
# Your code here:
salary = salaries.loc[(salaries['Salary or Hourly']=='Salary')&(salaries['Department']=='POLICE')]

con_coef=0.95
n = len(salary)-1
ave = salary['Annual Salary'].mean()
sigma = stats.sem(salary['Annual Salary'])

scipy.stats.t.interval(con_coef , n, loc=ave, scale=sigma)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

hourly = len(salaries.loc[salaries['Salary or Hourly']=='Hourly'])
total = len(salaries)

stat, pval = proportions_ztest(hourly , total, 0.25)
print(stat, pval)
print(f'Rejecting the H0 at a confidence level of 95%, p value is {round(pval, 5)} which is < than 0.05, proportion different to 0.25%')

-3.5099964213703005 0.0004481127249057967
Rejecting the H0 at a confidence level of 95%, p value is 0.00045 which is < than 0.05, proportion different to 0.25%